# CIS 2100 - Programming Foundation for Business Analytics
# Dr. Marjan Orang
# Assignment 3: Conditional Statements

1. Write a function that returns the maximum of 2 numbers.

In [1]:
def maximum(num1, num2):
  if num1 > num2:
    return num1
  else:
    return num2

maximum(5, 2)

5

2. Write a function that returns absolute value of a number using conditional statements.

In [2]:
def abs_value(number):
  if number < 0:
    number = number * -1
    return number
  else:
    return number

abs_value(-5)

5

3. Write a function that checks whether a number is even or odd.

In [3]:
def even_num_checker(number):
  result = number % 2
  if result == 0:
    print("number is even")
  else:
    print("number is odd")

even_num_checker(600)
even_num_checker(601)

number is even
number is odd

4. Write a program that calculates net pay based on gross pay and the following tax breaks:<br>
<ul><li>salary &lt;&equals; &dollar;20,000 : 0% </li>
<li> 20,000 &lt; salary &lt;&equals; &dollar;40,000: 10%
<li>40,000 &lt; salary &lt;&equals; &dollar;80,000 : 15%
    <li>salary &gt; &dollar;80,000: 20% </li></ul>
Please not that for someone making &dollar;90,000, the first &dollar;20,000 is tax free, the next &dollar;20,000 falls in second tax break (10%) and so on.

In [5]:
def calculate_net_pay(gross_pay):
    brackets = [(20000, 0.0), (20000, 0.1), (40000, 0.15), (float('inf'), 0.2)]
    # bracket is formatted in (limit, rate)

    tax = 0
    remaining_income = gross_pay
    prev_limit = 0

    for limit, rate in brackets:
        taxable_income = min(remaining_income, limit)
        tax += taxable_income * rate
        remaining_income -= taxable_income
        if remaining_income <= 0:
            break

    net_pay = gross_pay - tax
    return net_pay

gross_salary = float(input("Enter your gross salary: "))
net_salary = calculate_net_pay(gross_salary)
print(f"Net salary: ${net_salary:.2f}")

Enter your gross salary: 50000
Net salary: $46500.00

5. The time module provides a function, also named time, that returns the current
Greenwich Mean Time in “the epoch”, which is an arbitrary time used as a reference point. On
UNIX systems, the epoch is 1 January 1970.

In [15]:
import time
total_seconds = time.time()
total_seconds #total number of seconds since 1 January 1970

Days since epoch: 20135
Current time (Military): 22:49:14

Write a script that reads the current time and converts it to a time of day in hours, minutes, and
seconds, plus the number of days since the epoch.

In [16]:
def convert_epoch_to_time():
    total_seconds = time.time()
    total_days = int(total_seconds // 86400)  # 86400 seconds in a day

    current_seconds = int(total_seconds % 86400)
    hours = current_seconds // 3600
    minutes = (current_seconds % 3600) // 60
    seconds = current_seconds % 60

    print(f"Days since epoch: {total_days}")
    print(f"Current time (Military): {hours:02}:{minutes:02}:{seconds:02}")

# Run the function
convert_epoch_to_time()

Days since epoch: 20135
Current time (Military): 22:50:50

6. Fermat’s Last Theorem says that there are no positive integers a, b, and c such that<center><br> a<sup>n</sup>+b<sup>n</sup>=c<sup>n</sup></center><br>for any values greater than 2.<br>
Write a function named check_fermat that takes four parameters—a, b, c and n—and checks to see if Fermat’s theorem holds. If n is greater than 2 and a<sup>n</sup>+b<sup>n</sup>=c<sup>n</sup> the program should print, “Holy smokes, Fermat was wrong!” Otherwise the program should
print, “No, that doesn’t work.”

In [ ]:
# Look up why Fermat's Last Theorem is important

def check_fermat(a, b, c, n):
  left_side = (a ** n) + (b ** n)
  right_side = c ** n

  if a <= 2 or b <= 2 or c <= 2 or n <= 2:
    print("Invalid, all inputs must be greater than 2")
  elif (n > 2) and (left_side == right_side):
    print("Holy smokes, Fermat was wrong!")
  else:
    print("No, that doesn't work.")

check_fermat(3, 3, 3, 3)

No, that doesn't work.

7. If you are given three sticks, you may or may not be able to arrange them in a triangle.
For example, if one of the sticks is 12 inches long and the other two are one inch long, you will not
be able to get the short sticks to meet in the middle. For any three lengths, there is a simple test to
see if it is possible to form a triangle:<br>
If any of the three lengths is greater than the sum of the other two, then you cannot
form a triangle. Otherwise, you can. (If the sum of two lengths equals the third, they
form what is called a “degenerate” triangle.)<br>
Write a function named is_triangle that takes three integers as arguments, and that prints
either “Yes” or “No”, depending on whether you can or cannot form a triangle from sticks
with the given lengths.

In [17]:
def is_triangle(a, b, c):
    if a <= 0 or b <= 0 or c <= 0:
        print("Invalid, all inputs must be greater than 0")
    elif (a + b) <= c or (a + c) <= b or (b + c) <= a:
        print("No")
    else:
        print("Yes")

is_triangle(3, 3, 3)

Yes

8. Write a function that accepts a month number and returns the number of days in that month.

In [ ]:
def days_in_month(month):
    month_tuple = [(1, 31), (2, 28), (3, 31),
                   (4, 30), (5, 31), (6, 30),
                   (7, 31), (8, 31), (9, 30),
                   (10, 31), (11, 30), (12, 31)]
    for i in range(len(month_tuple)):
        if month == month_tuple[i][0]:
            return month_tuple[i][1]

# Test for February
days_in_month(2)

28